{% extends "layout2.html" %}
{% block main %}


<article>
    <main class="margin-top-108">
        <div class="container">
        <h2>Create a New Adventure!</h2>
        <form method="post" action="/create_trip_data/{{uid}}/">
            <label>
                Adventure Name *
                <input class = "form_field" type='text' name='trip_name' required/>
            </label>
            <label>
                Destination *
                <select class="form_field" name='trip_destination' required>
                    <option value="Paris, France">Paris, France</option>
                    <option value="Sydney, Australia">Sydney, Australia</option>
                    <option value="Barcelona, Spain">Barcelona, Spain</option>
                    <option value="Bangkok, Thailand">Bangkok, Thailand</option>
                  </select>
            </label>
            <label>
                Start Date *
                <input class = "form_field" type='date' name='trip_start_date' required/>
            </label>
            <label>
                End Date *
                <input class = "form_field" type='date' name='trip_end_date' required/>
            </label>
            <div>
                <label id="invite_friend">
                    Friend's Email
                    <div id="friend_email_inputs">
                        <input class="form_field" type="email" name="invite_friend_0" id="invite_friend_0">
                        <button type= "button" id="add_invite_field" class="secondary_button" onclick='add_field(1)'>+</button>
                    </div>
                </label>
            </div>
            <button type="submit" class="sign_up_button">Create!</button>
        </form>
        </div>
    </main>
    <script src="/js/create_trip_step.js"></script>
</article>
{%endblock%}
