{% extends "layout2.html" %}
{% block main %}

<article>
    <main class="margin-top-108">
        <div>
            <ul class="progressbar">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="create_trip_container">
            <label for="create_trip_input"><h2 id="create_trip_label" class="centered">Name the Adventure</h2></label>
            <input type="text" id="create_trip_input" name="create_trip_input" class="centered form_field">
            <button type="submit" class="sign_up_button">Next!</button>
        </div>
    </main>
</article>
{% endblock %}