{% extends "layout2.html" %}
{% block main %}


<article>
    <main class="margin-top-108"> 
        <div class="create_trip_container">
        <h1 class="centered margin-bottom-24">Create a New Adventure!</h1>
        <h5 class="centered">{{message}}</h5>
        <form method="post" id="create_trip_form" action="/create_trip_data/{{uid}}/0">
            <label>
                Adventure Name <span title="This field is mandatory" aria-label="required" class="required">*</span>
                <input class = "form_field" type='text' name='trip_name' required/>
            </label>
            <label>
                Destination <span title="This field is mandatory" aria-label="required" class="required">*</span>
                <select class="form_field minimal" name='trip_destination' required>
                    <option value="Paris, France">Paris, France</option>
                    <option value="Sydney, Australia">Sydney, Australia</option>
                    <option value="Barcelona, Spain">Barcelona, Spain</option>
                    <option value="Bangkok, Thailand">Bangkok, Thailand</option>
                  </select>
            </label>
            <label>
                Adventure Dates <span title="This field is mandatory" aria-label="required" class="required">*</span>
                <input class="form_field" type="text" name="date_range" id="date_range"/>
            </label>
            <!-- <label>
                Start Date <span title="This field is mandatory" aria-label="required" class="required">*</span>
                <input class = "form_field" type='date' name='trip_start_date' required/>
            </label>
            <label>
                End Date <span title="This field is mandatory" aria-label="required" class="required">*</span>
                <input class = "form_field" type='date' name='trip_end_date' required/>
            </label> -->
            <div>
                <label id="invite_friend">
                    Friend's Email
                    <div id="friend_email_inputs">
                        <div id="last_email">
                            <input class="form_field" type="email" name="invite_friend_0" id="invite_friend_0">
                            <button type= "button" id="add_invite_field" class="add_friend_button" onclick='add_field(1, {{uid}})'>+</button>
                        </div>
                    </div>
                </label>
                <div class="wrapper">
                    <button type="submit" class="sign_up_button">Create!</button>
                </div>
        </form>
        <p class="error"></p>
        </div>
    </main>
    <script src="/js/create_trip_step.js"></script>
</article>
{%endblock%}
