{% extends "layout2.html" %}
{% block main %}
<article>
    <main class="margin-top-108">
        
            {%if city and country%}
            <a href="{{url_for('main.trip_page', uid = uid, trip_id = trip_id)}}">
                ← Return To {{trip_name}} Dashboard
            </a>
            <div class="centered">
                <h1>Explore {{city}}, {{country}}</h1>
            </div>
            {%else%}
            <div class="centered">
                <h1>Explore!</h1>
                <div class="explore_row">
                    <label for='trip_destination'>Destination</label>
                    <select class="form_field minimal explore_dropdown" name='trip_destination' onchange="changeExploreLocation({{uid}})">
                        <option value="Paris, France">Paris, France</option>
                        <option value="Sydney, Australia">Sydney, Australia</option>
                        <option value="Barcelona, Spain">Barcelona, Spain</option>
                        <option value="Bangkok, Thailand">Bangkok, Thailand</option>
                    </select>
                </div>
            </div>
            {%endif%}
            {%if attractions%}
            <div class="row">
                <div class="padding-24">
                    <div class="card">

                    </div>
                </div>
            </div>
            {%else%}
            <div class="padding-24">
                <p class="centered">Hmm.... It looks like we couldn't load the attractions for this location right now. </p>
            </div>
            {%endif%}
    </main>
</article>
{% endblock %}