{% extends "layout2.html" %}
{% block main %}
<article>
    <main class="margin-top-108">
        
            {%if trip_id%}
            <a href="{{url_for('main.trip_page', uid = uid, trip_id = trip_id)}}">
                ← Return To {{trip_name}} Dashboard
            </a>
            <div class="centered">
                <h1>Explore {{city}}, {{country}}</h1>
            </div>
            {%else%}
            <div class="centered">
                <h1>Explore!</h1>
                <div class="explore_row">
                    <label for='trip_destination'>Destination</label>
                    <select class="form_field minimal explore_dropdown" name='trip_destination' onchange="changeExploreLocation({{uid}})">
                        <option value="Paris, France">Paris, France</option>
                        <option value="Sydney, Australia">Sydney, Australia</option>
                        <option value="Barcelona, Spain">Barcelona, Spain</option>
                        <option value="Bangkok, Thailand">Bangkok, Thailand</option>
                    </select>
                </div>
            </div>
            {%endif%}
            {%if attractions%}
            <div id="attractions" class="row">
                {%for a in attractions%}
                <div class="padding-24">
                    <div class="card_link_info">
                        <a href="{{a.website}}" class="card_link" target="_blank">
                            <div class="card">
                                {%if a.photo_link%}
                                    <!-- <div id="attraction_{{i}}"></div> -->
                                    <!-- <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{a.photo_link}}&key={{config['api_key']}}"> -->
                                    <img src="{{ url_for('static', filename='images/airplane.png') }}"> 
                                {%else%}
                                    <img src="{{ url_for('static', filename='images/airplane.png') }}" alt="plane">
                                {%endif%}
                                <div class="padding-24">
                                    <h3 class="centered">{{a.name}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {%endfor%}
            </div>
            {%else%}
            <div class="padding-24">
                <p class="centered">Hmm.... It looks like we couldn't load the attractions for this location right now. </p>
            </div>
            {%endif%}
    </main>
</article>
{% endblock %}