{% extends "layout.html" %}
{% block main %}
<section class="hero_image">
  <div class="hero_container">
    <h1 class="hero_heading">Collaborative Trip Planning Made Easy</h1>
  </div>
</section>
<article class="container">
  <main>
    <div class = "feature_container">
      <div class = "column feature_right">
          <img class="feature_image" src="./images/trip_dashboard.png">
      </div>
      <div class="column feature_left feature_description">
          <h2>Stress Free Planning</h2>
          <p>Each adventure has its own dashboard that is shared amongst members to make sure that everyone is on the same page and everyone can contribute.</p>
      </div>
    </div>
    <div class = "feature_container2">
      <div class = "column feature_left">
          <img class="feature_image" src="./images/attractions.png">
      </div>
      <div class="column feature_right feature_description">
          <h2>Attractions</h2>
          <p>Quickly and easily discover attractions at 
            your destination. Learn about new places and get the information you need.</p>
      </div>
    </div>
    <div class = "feature_container">
      <div class = "column feature_right">
          <img class="feature_image" src="./images/laptop_phone.png">
      </div>
      <div class="column feature_left feature_description">
          <h2>Multi-Platform</h2>
          <p>Easily plan on your computer, tablet, or phone!</p>
      </div>
    </div>
  </main>
</article>
{% endblock %}
