{% extends "layout.html" %}
{% block main %}

<article>
    <main>
        <div class="flex_container">
            <img  class="sign_up_image" src="images/threePlanes.png">
            <div class =  "sign_up_container">
                <h2 class= "sign_up_header">Let the Adventures Begin!</h2>
                <form method="post" action="/sign_up_user">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <p class="flashes error">
                        {% for message in messages %}
                        <i>{{ message }}</i>
                        {% endfor %}
                        </p>
                    {% endif %}
                    {% endwith %}
                    <label class = "sign_up_label">First Name
                        <input class = "form_field" type='text' name='firstname' required/>
                    </label> 
                    <label class = "sign_up_label">Last Name
                        <input class = "form_field" type='text' name='lastname' required/>
                    </label>
                    <label class = "sign_up_label">Email
                        <input class = "form_field" type='email' name='email' required/>
                    </label>
                    <label class = "sign_up_label">Password
                    <input class = "form_field" type='password' name='password1' required/>
                    </label>
                    <label class = "sign_up_label">Re-enter Password
                    <input class = "form_field" type='password' name='password2' required/>
                    </label>
                    <p class = "sign_up_error"></p>
                    <div class="wrapper">
                        <button class = "sign_up_button" type="submit" >Create Account</button>
                    </div>
                    <p class = "smallText">Already have an account? <a href="sign_in">Sign In!</a></p>
                </form>
            </div>
        </div>
  </main>
</article>

{% endblock %}