{% extends "layout.html" %}
{% block main %}

<article>
    <main>
        <div class="flex_container">
            <img  class="sign_up_image" src="images/threePlanes.png">
            <div class = "sign_up_container">
                <h2 class="sign_up_header">Welcome Back!</h2>
                <form method="post" action="/sign_in_user">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <p class="flashes error">
                        {% for message in messages %}
                        <i>{{ message }}</i>
                        {% endfor %}
                        </p>
                    {% endif %}
                    {% endwith %}
                    <label class = "sign_up_label">Email
                        <input class = "form_field" type='email' name='email' required/>
                    </label>
                    <label class = "sign_up_label">Password
                    <input class = "form_field" type='password' name='password' required/>
                    </label>
                    <p class = "sign_up_error"></p>
                    <div class="wrapper">
                        <button type="submit" class="sign_up_button">Sign In</button>
                    </div>
                    <p class= "smallText">New Adventurer? <a href="sign_up">Sign Up!</a></p>
                </form>
            </div>
        </div>
  </main>
</article>

{% endblock %}