{% extends "layout2.html" %}
{% block main %}

<article>
    <main class="margin-top-108">
        <div class="centered">
            <h1>{{trip_info.trip_name}}</h1>
            {%set start_date = trip_info.start.split("-")%}
            {%set end_date = trip_info.end.split("-")%}
            {%set colors = ['#52489c', '#4CB944', '#EB5160', '#F9C80E', '#F86624', '#9448BC', '#480355', '#F79824', '#F79824', '#FDCA40', '#2176FF', '#FE4A49', '#07BEB8', '#99C24D', '#F18F01', '#D72638', '#F22B29', '#F49D37', '#140F2D', '#F21B3F', '#29BF12', '#6BF178', '#FF5964', '#FFE74C', '#38618C', '#397367', '#9C95DC', '#0B7189', '#7D5BA6', '#FC6471' , '#35B1865', '#3185FC', '#ADBDFF', '#B74F6F', '#76B041', '#FF206E']%}
            <h4>{{trip_info.city}}, {{trip_info.country}} • {{start_date[1]}}/{{start_date[2]}}/{{start_date[0]}} - {{end_date[1]}}/{{end_date[2]}}/{{end_date[0]}}</h4>
            <div class="margin-24">
                {%for i in trip_info.members%}
                    {%set names = i.split(" ")%}
                    <svg class="tooltip members" height="80" width="80">
                        {% set c = colors|random %}
                        <circle class="circle" cx="40" cy="40" r="30" stroke-width="3" fill="{{c}}"/>
                        <text class="initials" x="50%" y="50%" text-anchor="middle" fill="#ffffff" dy="0.3em" font-size="24px" font-weight="black">{{names[0][0]}}{{names[1][0]}}</text> 
                        <span class="tooltiptext">Tooltip text</span>
                    </svg>
                {%endfor%}
            </div>
        </div>
        <h2 class="side_heading">Attractions</h2>
        <div style = "display: flex;">
            <div class="row">
                {%for a in trip_info.selected_attractions%}
                    <div class="padding-24">
                    <div class="card">
                        {%if a.image%}
                            <img src="images/airplane.png">
                        {%else%}
                            <img src="{{ url_for('static', filename='images/airplane.png') }}" alt="plane">
                        {%endif%}
                        <div class="padding-24">
                            <h3 class="centered">{{a.name}}</h3>
                        </div>
                    </div>
                    </div>
                {%endfor%}
                <div>
                    <a href="{{url_for('main.explore', uid = uid, trip_id = trip_id, trip_name = trip_info.trip_name, city = trip_info.city, country = trip_info.country)}}" class="add_trip card_link margin-left-24">
                        <div>
                            <h3 class="margin-bottom-8"> Explore Attractions</h3>
                            <img src="{{ url_for('static', filename='images/add_trip.svg') }}" alt="add_icon" width="50px">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
</article>
{% endblock %}