{% extends "layout2.html" %}
{% block main %}

<article>
    <main class="margin-top-108">
        <div class="centered">
            <p>{{api_key}}</p>
            <h1>{{trip_info.trip_name}}</h1>
            {%set start_date = trip_info.start.split("-")%}
            {%set end_date = trip_info.end.split("-")%}
            <h4>{{trip_info.city}}, {{trip_info.country}} • {{start_date[1]}}/{{start_date[2]}}/{{start_date[0]}} - {{end_date[1]}}/{{end_date[2]}}/{{end_date[0]}}</h4>
            <div class="margin-24">
                {%for i in trip_info.members%}
                    {%set names = i.name.split(" ")%}
                    <svg class="members" height="80" width="80">
                        <circle class="circle" cx="40" cy="40" r="30" stroke-width="3" fill="{{i.color}}"/>
                        <text class="initials" x="50%" y="50%" text-anchor="middle" fill="#ffffff" dy="0.3em" font-size="24px" font-weight="black">{{names[0][0]}}{{names[1][0]}}</text>
                        <title>{{i}}</title>
                    </svg>
                {%endfor%}
            </div>
        </div>
        <h2 class="side_heading">Attractions</h2>
        <div style = "display: flex;">
            <div class="row">
                {%set i = 0%}
                {%for a in trip_info.selected_attractions%}
                    {%set i = i + 1%}
                    <div class="padding-24">
                        <div class="card_link_info">
                            <a href="{{a.website}}" class="card_link" target="_blank">
                                <div class="card">
                                    {%if a.photo_link%}
                                    {%set src=a.photo_link[-10:]%}
                                        <img class="attraction_image" src="/images/attraction/{{src}}.jpg" alt="{{a.name}}">
                                    {%else%}
                                        <img src="{{ url_for('static', filename='images/airplane.png') }}" alt="plane">
                                    {%endif%}
                                    <div class="padding-24">
                                        <h3 class="centered">{{a.name}}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {%endfor%}
                <div>
                    <a href="{{url_for('main.explore', uid = uid, trip_id = trip_id, trip_name = trip_info.trip_name, city = trip_info.city, country = trip_info.country)}}" class="add_trip card_link margin-left-24">
                        <div>
                            <h3 class="margin-bottom-8"> Explore Attractions</h3>
                            <img src="{{ url_for('static', filename='images/add_trip.svg') }}" alt="add_icon" width="50px">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
</article>
{% endblock %}