{% extends "layout2.html" %}
{% block main %}

<article>
    <main class="margin-top-108">
        <h1 class="centered">Upcoming Adventures</h1>
        <div class="row">
            {%for t in trip.Trips%}
            <div class=column>
                <a href="{{url_for('main.trip_page', uid = uid, trip_id = t.trip_id)}}" class="card_link">
                    <div class="card margin-left-24">
                        <h2 class="margin-bottom-8">{{t.name}}</h2>
                        <p class="margin-bottom-8">{{t.location}}</p>
                        <p class="p2">{{t.start}} - {{t.end}}</p2>
                    </div>
                </a>
            </div>
            {%endfor%}
            <div class="column"></div>
                <a href="" class="add_trip margin-left-24">
                    <div>
                        <h3 class="margin-bottom-8"> New Adventure</h3>
                        <img src="{{ url_for('static', filename='images/add_trip.svg') }}" alt="add_icon" width="50px">
                    </div>
                </a>
            </div>
        </div>
    </main>
</article>
{% endblock %}