{% extends "layout2.html" %}
{% block main %}

<article>
    <main class="margin-top-108">
        <h1 class="centered">Upcoming Adventures</h1>
        <div style = "display: flex;">
        <div class="row">
            {%for t in trip.Trips%}
            <div class="padding-24" id="{{t.trip_id}}">
                <div class="card margin-left-24">
                    <div class="card_link_info centered margin-bottom-24">
                        <a href="{{url_for('main.trip_page', uid = uid, trip_id = t.trip_id)}}" class="card_link margin-24">
                            <h2 class="margin-bottom-8">{{t.name}}</h2>
                            <p class="margin-bottom-8">{{t.location}}</p>
                            <p class="p2">{{t.start}} - {{t.end}}</p>
                        </a>
                    </div>
                    <button class='delete_button' id="{{t.trip_id}}_delete_{{uid}}">
                        <div class='icon centered'>
                            <i class='fa fa-trash-o'></i>
                            <i class='fa fa-question'></i>
                            <i class='fa fa-check'></i>
                        </div>
                        <div class='text'>
                            <span>Delete</span>
                        </div>
                    </button>
                </div>
            </div>
            {%endfor%}
            <div class="padding-24">
                <a href="{{url_for('main.create_trip', uid = uid)}}" class="add_trip card_link margin-left-24">
                    <div>
                        <h3 class="margin-bottom-8"> New Adventure</h3>
                        <img src="{{ url_for('static', filename='images/add_trip.svg') }}" alt="add_icon" width="50px">
                    </div>
                </a>
            </div>
        </div>
    </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/delete_trip.js') }}"></script>
    </main>
</article>
{% endblock %}