{% extends "layout2.html" %}
{% block main %}

<article>
    <main class="margin-top-108">
        <h1 class="centered">Upcoming Adventures</h1>
        <div class="row">
            {%for t in trip.Trips%}
            <div class="card margin-left-24">
                <h3 class="margin-bottom-8">{{t.name}}</h3>
                <p class="margin-bottom-8">{{t.location}}</p>
                <p class="p2">{{t.start}} - {{t.end}}</p2>
            </div>
            {%endfor%}
            <a href="" class="add_trip margin-left-24">
                <div>
                    <h3 class="margin-bottom-8"> New Adventure</h3>
                    <img src="{{ url_for('static', filename='images/add_trip.svg') }}" alt="add_icon" width="50px">
                </div>
            </a>
        </div>
    </main>
</article>
{% endblock %}