:root {
  --primary-color: #39b8ea;
  --secondary-primary-color: #ffffff;
  --text-color: #000000;
  --link-hover-color: #5c556b;
  --green: #4CA64C;
}

h1, h2, h3, h5, li{
  font-family: 'Roboto', sans-serif;
  font-weight: black;
}


li{
  font-size: 1.5em;
}

p{
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
  line-height: 1.875em;
}

.p2{
  font-size: 1em;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2.5em;
  margin-bottom: 12px;
}

h3{
  font-size: 1.4em;
}

h4{
  font-weight: 200;
  font-size: 1.75rem;
}

label {
  font-size: 1.5rem;
}

@media (max-width: 768px){
	h1{
    font-size: 2.5em;
  }
  h2{
    font-size: 2em;
  }
  h4{
    font-size: 1.5rem;
  }
  p{
    font-size: 1.5em;
  }
  label{
    font-size: 1.5em;
  }

}

@media (max-width: 420px){
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.25em;
  }
  h4{
    font-size: 1rem;
  }
  p{
    font-size: 1em;
  }
  label{
    font-size: 1em;
  }
}


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

body > * {
  flex-shrink: 0;
  width: 100%;
}


/* 
body > main {
  background-color: var(--divider-color);
  flex: 1 0 auto;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px 15px;
} */

body > footer {
  background-color: var(--dark-primary-color);
  color: var(--text-color);
  padding: .5rem 1rem;
  text-align: center;
}



article > main {
  margin: 24px auto;
  max-width: 80%;
}


footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

footer a:active,
a:focus,
a:hover {
  color: var(--link-hover-color);
}

header {
  background: var(--primary-color);
	color: var(--secondary-primary-color);
  width: 100%;
}


@media screen and (min-width: 800px) {
  article > main {
    max-width: 80%;
    margin: 64px auto;
  }
}

.margin-top-108{
  margin-top: 108px;
}

.margin-bottom-24{
  margin-bottom: 24px;
}

.margin-24{
  margin: 24px;
}

.margin-auto{
  margin: auto;
}

.padding-24{
  padding: 24px;
}

.margin-bottom-8{
  margin-bottom: 8px;
}

.margin-left-24{
  margin-left:24px;
}

@media (max-width: 768px){
  .margin-left-24{
    margin-bottom: 24px;
  }
}

.font-large{
  font-size: 3.5em;
}

.container{
  padding: 0 10%;
}

.centered{
  text-align: center;
}

.error{
  color: #ff0000;
}

.row{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


@media (max-width: 768px){
  .row{
    width: 100%;
    margin: auto;
  }

  .column > .margin-left-24{
    margin-left: 0px;
  }
}

/* LandingHeader Styles */
.landingHeading{
  width: 100%;
  position: fixed;
  top: 0px; z-index: 2;
}

.landingHeading_logo{
  height: 50px;
  margin-left: 10px;
}

.landingHeading_navigation{
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  margin-top: 10px;
}

.landingHeading_ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.landingHeading_li{
  padding: 0 0.5rem;
  color: white;
  justify-content: center;
}

.navLinks{
  margin-top: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.spacer{
  flex: 1;
}

.buttonLook{
  margin-top: -5px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
}

.buttonLook:hover {
  border: 2px solid #5c556b;
}

#landingHeader_container{
  height: 80px;
}

@media (max-width: 768px){
  .landingHeading_logo{
    margin-left: 30px;
    height: 40px;
  }
  .landingHeading_li{
      display: none;
  }
  .landingHeading_ul{
      display: none;
  }
  .landingHeader_container{
    height: 50px;
  }
  .toggle_button{
    display: none;
  }

}
.toggle_button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
}

.toggle_button_line{
  width: 30px;
  height: 2px;
  background-color: #fff;
}

@media (min-width: 769px){
    .toggle_button{
      display: none;
  }
}

.side_drawer_logo{
  height: 30px;
  margin-left: 1rem;
  margin-top: 0.75rem;
}

.side_drawer_logo_wrapper{
  text-align:center;
}

.side_drawer_navLink{
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  font-size: 1em;
} 

.side_drawer{
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 200px;
  z-index: 200;
  transform: translateX(-1000px);
  transition: transform 0.5s ease-out;
}

.side_drawer_ul{
  margin-top: 10px;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.side_drawer_list{
  margin: 0.5rem 0;
}

.open{
  transform: translateX(0px);
  transition: transform 0.5s ease-out;

}

.buttonLook:hover {
  border: 2px solid var(--link-hover-color);
}

.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  top: 0;
}





.description{
  margin-top: 60px;
}

.feature_image{
  width: 100%;
  margin-top: 20px;
  z-index: -1;
}

.feature_container{
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 24px;
}

.feature_container2{
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  margin-bottom: 24px;
}

.feature_left{
margin-left: 100px;
}

.feature_right{
margin-right: 100px;
}

@media (max-width: 1400px){
.feature_left{
      margin-left: 0px;
  }
  .feature_right{
      margin-right: 50px;
  }

}

@media (max-width: 1400px){
.feature_container{
      display: block;
  }
  .feature_container2{
      display: block;
  }
  .feature_right{
      margin-right: 0px;
  }

}

@media (min-width: 769px){
  .side_drawer{
      display: none;
  }
}


/* Index Page Styles */
.hero_container{
  width: 50%;
  margin-left: 45%;
  max-width: 500px;
overflow: hidden;
}

.hero_heading{
  margin-top: 20%;
}

.hero_image{
height: 380px;
width: 100%;
background: url("../images/adventure.jpg") no-repeat center center;
background-size: 100%;
text-align: center;
}

@media (max-width: 1400px) and (min-width: 765px){
  .feature_image{
    margin-bottom: 48px;
    width: 600px;
  }
}

@media (max-width: 764px) and (min-width: 521px){
  .feature_image{
    margin-bottom: 48px;
    width: 400px;
  }
}

@media (max-width: 1400px) and (min-width: 521px){

  .feature_description{
    margin-bottom: 48px;
  }

  .hero_image{
    margin-top: -24px;
  }

  .hero_heading{
    margin-top: 40%;
  }
}

@media (max-width: 520px){
  .hero_container{
      margin: auto;
      width: 80%;
      max-width: 1000;
  }

.hero_image{
      background:#ffffff;
      height: 50px;
  }

  .hero_heading{
      text-align: center;
      margin-top: 24px;
  }
  .feature_image{
    margin-bottom: 24px;
    margin-left: -48px;
    width: 300px;
  }

  .feature_description{
    margin-bottom: 24px;
  }

}



/*Sign Up*/

.flex_container{
  display: flex;
}

.sign_up_container{
  margin-left: 108px;
  vertical-align: middle;
  width: 50%;
}

.form_field{
  border: 2px solid #C4C4C4;
  border-radius: 8px;
  display: block;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 8px;
  width: 100%;
}

.sign_up_label{
  display: block;
  margin-bottom: 12px;
}


.sign_up_button{
  background: #39b8ea;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
  min-width: 100px;
}

@media (max-width: 420px){
  .sign_up_button{
    font-size: 1rem;
  }
  
}

.smallText{
  margin-top: 12px;
  font-size: 12px;
  text-align: center;
}


#sign_in_container{
  margin: 24px auto;
  width: 50%;
  vertical-align: middle;
}

.password_field{
  border: 2px solid red;
}

.sign_up_error{
  font-size: 12px;
  color: red;
}
.sign_up_image{
  width: 40%; 
  height: 40%;
  vertical-align: middle;
}

.sign_up_header{
  margin-bottom: 24px;
}

@media (max-width: 768px){
	.sign_up_image{
        display: none;
    }
  .sign_up_container{
    margin-left: 0px;
    width: 100%;
  }

  #sign_up_container{
    width: 100%;
  }

  #sign_in_container{
    width: 100%;
  }

}

/* Main Dashboard */
.card_link{
  text-decoration: none;
  color: var(--link-hover-color);
}

.card_link_info{
  width: 100%;
}

.card_link_info:hover{
  opacity: 0.3;
}

.card{
  width: 300px;
  height: 321px;
  flex: 1 0 32%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 24px;
  border-radius: 10px;
}

.no_height{
  height: initial;
}

.card > img{
  max-width: 250px;
}

@media (max-width: 768px){
  .card{
    width: 250px;
  }
  .card > img{
    max-width: 200px;
  }
  .card_link
  {
    margin: 12px auto;
  }
}


/*Trip Dashboard*/
.add_trip{
  width: 300px;
  height: 321px;
  text-align: center;
  padding: 24px;
  border-radius: 12px;
  border-style: dotted;
  border-color: var(--link-hover-color);
  color: var(--link-hover-color);
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px){
  .add_trip{
    height: 270px
  }
}



.add_trip:hover{
  opacity: 0.3;
}

.delete_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  background: transparent;
  outline: 0;
  overflow: hidden;
  margin-left: 24px;
}

.delete_button .icon {
  position: relative;
  background: #1D242B;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  -webkit-transition: .2s color;
  transition: .2s color;
  border-radius: 2px;
}
.delete_button .icon .fa {
  width: 30px;
  -webkit-transition: .2s all;
  transition: .2s all;
}
.delete_button .icon .fa-check {
  color: #38B87C;
}
.delete_button .icon .fa-question {
  color: var(--primary-color);
}
.delete_button .icon:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #1D242B;
  top: 12.5px;
  right: 1px;
  -webkit-transition: .2s right;
  transition: .2s right;
  z-index: 1;
}
.delete_button .text {
  position: relative;
  width: 0;
  height: 30px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: #F34541;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  -webkit-transition: .2s all;
  transition: .2s all;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.delete_button .text span {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s all;
  transition: .3s all;
}
.delete_button:hover .icon {
  color: #F34541;
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.delete_button:hover .icon:after {
  right: -2px;
}
.delete_button:hover .text {
  width: 150px;
}
.delete_button:hover .text span {
  opacity: 1;
  top: 0;
}
.delete_button.confirm .icon {
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.delete_button.confirm .icon .fa {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.delete_button.confirm .icon:after {
  right: -2px;
}
.delete_button.confirm .text {
  background: #2492FF;
  width: 120px;
}
.delete_button.confirm .text span {
  opacity: 1;
  top: 0;
}
.delete_button.done .icon {
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.delete_button.done .icon .fa {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
.delete_button.done .icon:after {
  right: -2px;
}
.delete_button.done .text {
  background: #38B87C;
  width: 120px;
}
.delete_button.done .text span {
  opacity: 1;
  top: 0;
}

@-webkit-keyframes fadeInZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*Create Trip*/
.create_trip_container{
  padding: 0 15%;
}

.add_friend_button{
  background-color:var(--green);
  border-radius: 10px;
  border: 0px;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: bold;
  color: var(--secondary-primary-color);
  box-shadow: none;
  display: inline;
  margin-left: 12px;
  height: 41px;
  margin-left: 24px;
  margin-top: 8px;
}

@media (max-width: 420px){
  .add_button{
    height: 32px;
    margin-left: 8px;
  }
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

#last_email{
  display: flex;
}

.create_trip_field{
  width: 90%;
}

.required{
  color: red;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Settings Button*/
/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: 2em;
  background-color: transparent;
  border-color: transparent;
}

.dropbtn_side{
  background-color: var(--secondary-primary-color);
  border-color: var(--secondary-primary-color);
  color: var(--text-color);
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:hover, .dropbtn:focus{
  color: var(--link-hover-color);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown_content_offset{
  margin-left: 280px;
  margin-top: 45px;
  position: absolute;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.hidden{display:none;}

/*Trip Page*/
@media (max-width: 420px){
  .circle{
    transform:scale(0.8, 0.8);
  }
  .members{
    width: 60px;
    height:60px;
  }

  .initials{
    font-size: 16px;
    transform: translate(0.2em, 0.2em);
  }

}

.side_heading{
  margin-left: 48px;
}

@media (max-width: 768px){
  .side_heading{
    margin: auto;
    text-align: center;
  }
}

#tooltip {
  background: var(--secondary-primary-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 5px;
}


/*Explore*/
.explore_dropdown{
  max-width: 400px;
  width: 50%;
  margin-left: 24px;
  font-size: 1.5em;
  padding: 8px;
}

.explore_row{
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px){
  .explore_dropdown{
    width: 100%;
    margin: auto;
    margin-top: 12px;
    font-size: 1em;
  }
  
  .explore_row{
    display: block;
  }
}

.attraction_image{
  height: 150px;
  width: 225px;

  object-fit: cover;
  object-position: 0 25%;
}

@media (max-width: 768px){
  .attraction_image{
    height: 125px;
    width: 200px;
  }
}




.add_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  background: transparent;
  outline: 0;
  overflow: hidden;
  margin-left: 12px;
}

.add_button .icon {
  position: relative;
  background: #1D242B;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  -webkit-transition: .2s color;
  transition: .2s color;
  border-radius: 2px;
}
.add_button .icon .fa {
  width: 30px;
  -webkit-transition: .2s all;
  transition: .2s all;
}
.add_button .icon .fa-check {
  color: #38B87C;
}
.add_button .icon .fa-question {
  color: var(--primary-color);
}
.add .icon:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #1D242B;
  top: 12.5px;
  right: 1px;
  -webkit-transition: .2s right;
  transition: .2s right;
  z-index: 1;
}
.add_button .text {
  position: relative;
  width: 0;
  height: 30px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: #F34541;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  -webkit-transition: .2s all;
  transition: .2s all;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add_button .text span {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s all;
  transition: .3s all;
}
.add_container:hover .icon {
  color: #F34541;
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add_container:hover .icon:after {
  right: -2px;
}
.add_container:hover .text {
  width: 150px;
}
.add_container:hover .text span {
  opacity: 1;
  top: 0;
}
.add_button.done .icon {
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add_button.done .icon .fa {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.add_button.done .icon:after {
  right: -2px;
}
.add_button.done .text {
  background: #38B87C;
  width: 150px;
}
.add_button.done .text span {
  opacity: 1;
  top: 0;
}

.add_dropdown_content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 52px;
  margin-top: -5px;
}

@media (max-width: 768px){
  .add_dropdown_content{
    margin-top: 0px;
  }
}


.add_dropdown_content button{
  float: none;
  color: black;
  padding: 0px 12px;
  display: block;
  text-align: left;
  border: 0.5px solid #D3D3D3;
  width: 100%;
  background: none!important;
  height: 30px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.add_dropdown-content button:hover {
  background-color: #ddd;
}

.add_container:hover .add_dropdown_content{
  display: block;
}

.add_container{
  margin-top: -8px;
}

.return_link{
  font-weight: bold;
  color: black;
}