{% extends "base.html" %}
{% block body %}
{%block header%}
<header class="landingHeading">
  <nav class="landingHeading_navigation"> 
      <div>
          <a href="/"><img class="landingHeading_logo"src="../../images/logoWhite.png"/></a>
      </div>
      <div class="spacer"></div>
      <div class="dropdown landingHeading_ul">
      <button onclick="toggle_settings_dropdown()" class="dropbtn">&#9881;</button>
        <div id="settings_dropdown" class="dropdown-content hidden">
          <a href="{{url_for('main.index')}}">Sign Out</a>
        </div>
      </div>
      <!-- <div class="landingHeading_ul">
          <a href="" class="landingHeading_li font-large" style="text-decoration: none;">	&#9881;</a>
      </div> -->
  </nav>
</header>
{% endblock %}
<main>
  {% block main %}
  {% endblock %}
</main>
<footer>
    <button id="btnAdd">Install App</button>
</footer>
{% endblock %}
